*{
    margin: 0;
    padding: 0;
}
/*reset start*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, button {
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
button, input, textarea, fieldset {
    padding: 0;
    *overflow: visible
}
input, textarea {
    outline: 0;
    resize: none
}
fieldset, img {
    border: 0
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}
ol, ul, li {
    list-style: none
}
caption, th {
    text-align: left
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}
/*
q:beforce, q:after {
    content: ''
}*/
abbr, acronym {
    border: 0
}
label {
    cursor: pointer
}
html,body{
    height: 100%;
}
body{
    background: #f2f2f2;
    min-width: 1024px;
}
a{
    text-decoration: none;
    outline: 0
}
a:hover {
    text-decoration: underline
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}
.clearfix {
    *zoom: 1
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.none {
    display: none
}
.pr {
    position: relative
}
.pa {
    position: absolute
}


::-webkit-input-placeholder {
    color:#999;
}
:-moz-placeholder {
    color:#999;
}
::-moz-placeholder {
    color:#999;
}
:-ms-input-placeholder {
    color:#999;
}
input{
    outline: none;
    background: transparent;
    border: none;
    outline: medium;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/*reset end*/
body {
    font: 12px/1.5 "冬青黑体简体中文 W3","冬青黑体简体中文 W6","微软雅黑","Microsoft Yahei","黑体",Tahoma,Arial,Simsun,Helvetica,sans-serif;   /*字体12像素 行高 1.5em*/
    color: #666;
    box-sizing: border-box;
}
a{
    color: #666;
}
a:hover {
    text-decoration: none
}
i {
    font-style: normal
}
img{
    display: block;
}
.wrap{
    width: 100%;
    min-width: 1024px;
}
.on{
    color: #9085f9;
}
